﻿<!DOCTYPE html>
<html>
    <head>
        <meta lang="en" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("AboutDad", "Home")">About</a></li>
            <li><a href="@Url.Action("DadLIkes", "Home")">Dad's Likes</a></li>
            <li><a href="@Url.Action("DadDislikes", "Home")">Dad's Dislikes</a></li>
        </ul>
        @RenderBody()
    </body>
</html>